.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
venv
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
__pycache__

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# models
fine_tuned_gpt2
question_answering_model
bert_qa